/* ==========================================================================
    ODS Design System
   ========================================================================== */

$identity-100: #00c7b1;
$identity-200: #142e7b;
$identity-300: #0086d6;
$identity-400: #efb71b;
$identity-500: #ce0037;
$identity-600: #4bc467;

$light-100: #ffffff;
$light-200: #f6f8fb;
$light-300: #dee5ef;
$light-400: #cbd2db;
$light-500: #898d92;
$light-600: #565656;
$light-700: #000000;

$ods-title: #000000;
$ods-text: #565656;

$body-size: 13px;
$size-1: 2.466rem; // 37 px
$size-2: 1.935rem; // 29 px
$size-3: 1.5335rem; // 23 px
$size-4: 1.3rem;
$size-5: 1rem;
$size-6: 0.8rem;
$size-7: 0.64rem;

$spacing-100: 0.866rem; // 13px
$spacing-200: 1.733rem; // 26px
$spacing-300: 2.6rem; // 39px
$spacing-400: 4.3rem; // 65px
