@import './_ods-design-system';

$nav-height: 60px;
$nav-height-mobile: 50px;

$list-width: 374px;
$popup-width: 105%;

/* ==========================================================================
    Bulma & Codelibrary variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$primary: #c6cbde;
$info: $identity-300;
$success: $identity-600;
$warning: $identity-400;
$danger: $identity-500;

$producteur: #c50c66;
$producteur-light: #e693b4;

$point-de-vente: #007364;
$point-de-vente-light: #93bbb2;

$border-split: #dddddd;

$body-background-color: $light-100;

/* Typography
   ========================================================================== */

$size-small: $size-7;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

$title-color: $ods-title;
$subtitle-color: $ods-text;
$title-weight: 500;
/* Icons
   ========================================================================== */
$icon-dimensions: $size-3;
$icon-dimensions-small: $size-5;
$icon-dimensions-medium: $size-2;
$icon-dimensions-large: $size-1;

/* Radius
   ========================================================================== */

$radius-small: 4px;
$radius: 6px;
$radius-large: 8px;

/* Content
   ========================================================================== */

$content-heading-weight: 500;
$content-heading-line-height: 1.25;

/* ==========================================================================
    Bulma Elements Customization
   ========================================================================== */

/* Box
   ========================================================================== */

$box-radius: $radius;
$box-shadow: none;
$box-background-color: $light-100;
$box-padding: $spacing-100;

/* ==========================================================================
    Bulma Components
   ========================================================================== */

/* Tags
   ========================================================================== */

$tag-background-color: #e6f0fa;
$tag-color: #024369;

/* Footer
   ========================================================================== */

$footer-background-color: $light-100;
$footer-padding: $spacing-100 $spacing-300;

/* Card
   ========================================================================== */

$card-background-color: $light-100;
$card-shadow: none;

/* Navbar
   ========================================================================== */
$navbar-box-shadow-size: 0 2px 6px 0;
$navbar-box-shadow-color: rgba(0, 0, 0, 0.15);
