@charset 'utf-8';

@import '_ods-design-system';
@import '_vars';
@import 'bulma/bulma';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#sapper {
  height: 100%;
  width: 100%;
}
