@charset 'utf-8';

@import '_ods-design-system';
@import 'bulma/bulma';

$mobile: $tablet;

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#sapper {
  height: 100%;
  width: 100%;
}

.is-fab {
  position: fixed;
  bottom: 0;
  width: 100%;
}
