@charset 'utf-8';

@import './_project-vars';
@import 'bulma/bulma';

$mobile: $tablet;

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#sapper {
  height: 100%;
  width: 100%;
}

.is-fab {
  position: absolute;
  width: 100%;
  z-index: 10;
  &.is-bottom {
    bottom: 0;
  }
  &.is-top {
    top: 0;
    left: 0;
  }
}
